.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
  background-color: maroon;
}

.arena___fighter-indicator:last-child .arena___health-indicator {
  display: flex;
  justify-content: flex-end;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
}

.arena___critical-hit-container {
  display: flex;
  margin: 30px;
  margin-top: -40px;
  justify-content: center;
}

.arena___critical-hit-text-left,
.arena___critical-hit-text-right {
  font-family: 'Arial Black';
  flex-grow: 1;
  display: flex;
  font-size: 18px;
  color: white;
  background-color: darkgreen;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 30px;
  padding: 2px 30px;

  background-size: 200% auto;
  background-image: linear-gradient(90deg, rgba(34,103,19,1) 0%, rgba(27,213,72,1) 50%, rgba(154,10,10,1) 49%, rgba(117,4,4,1) 100%);
  animation-timing-function: linear;
  animation-direction: reverse;
}

.arena___critical-hit-text-right {
  justify-content: flex-end;
  background-image: linear-gradient(90deg, rgba(27,213,72,1) 0%, rgba(34,103,19,1) 50%, rgba(154,10,10,1) 49%, rgba(117,4,4,1) 100%);;
}

.critical-bar-animation-left {
  animation-name: backgroundAnimationLeft;
}

.critical-bar-animation-right {
  animation-name: backgroundAnimationRight;
}

@keyframes backgroundAnimationLeft {
  from {
    background-position: 0;
  }
  to {
    background-position: 100%;
  }
}

@keyframes backgroundAnimationRight {
  from {
    background-position: 0;
  }
  to {
    background-position: -100%;
  }
}