.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  position: relative;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left .fighter-preview___img,
.fighter-preview___right .fighter-preview___img {
  max-height: 300px;
}
.fighter-preview___right .fighter-preview___img {
  transform: rotateY(180deg);
}

.fighter-preview___left .fighter-preview___name,
.fighter-preview___right .fighter-preview___name {
  font-size: 28px;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid maroon;
  padding: 8px 15px;
  background-color: black;
  border-radius: 6px;
}

.fighter-preview___details {
  position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.fighter-preview___details ul {
  list-style-type: none;
  color: white;
  background-color: black;
  border: 2px solid maroon;
  border-radius: 6px;
  margin: 0;
  padding: 10px 40px;
}

.fighter-preview___details ul li {
  display: flex;
  justify-content: space-between;
  line-height: 1.45;
}
