.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  padding: 1rem;
}

.modal-body-container-left,
.modal-body-container-right {
  width: 340px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
}

.modal-body-container-left img,
.modal-body-container-right img {
  max-height: 400px;
}

.modal-body-container-right img {
  transform: rotateY(180deg);
}

.modal-winner-stamp {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  position: absolute;
    top: calc(50% - 80px);

  background-image: url('../../resources/winner-logo.png');
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  animation-name: winnerAnimation;
  animation-duration: .5s;
  animation-timing-function: linear;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

@keyframes winnerAnimation {
  from {
    transform: scale(3.2);
  }
  to {
    transform: scale(1);
  }
}
